In [61]:
import pandas as pd

retail_data = pd.read_csv("https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/Market_retail.csv", sep=",")
retail_data.head()

,Order ID,Order Date,Customer Name,Country,State,City,Region,Segment,Ship Mode,Category,Sub-Category,Product Name,Discount,Sales,Profit,Quantity,Feedback?
0,BN-2011-7407039,1/1/2011,Ruby Patel,Sweden,Stockholm,Stockholm,North,Home Office,Economy Plus,Office Supplies,Paper,"Enermax Note Cards, Premium",$ 0.5,$ 45,$ -26,3,False
1,AZ-2011-9050313,1/3/2011,Summer Hayward,United Kingdom,England,Southport,North,Consumer,Economy,Furniture,Bookcases,"Dania Corner Shelving, Traditional",$ -,$ 854,$ 290,7,True
2,AZ-2011-6674300,1/4/2011,Devin Huddleston,France,Auvergne-Rhône-Alpes,Valence,Central,Consumer,Economy,Office Supplies,Art,"Binney & Smith Sketch Pad, Easy-Erase",$ -,$ 140,$ 21,3,True
3,BN-2011-2819714,1/4/2011,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Art,"Boston Markers, Easy-Erase",$ 0.5,$ 27,$ -22,2,True
4,BN-2011-2819714,1/4/2011,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Storage,"Eldon Folders, Single Width",$ 0.5,$ 17,$ -1,2,True

In [67]:
retail_data.to_csv("retail_data.csv")

In [62]:
retail_data.columns

Index(['Order ID', 'Order Date', 'Customer Name', 'Country', 'State', 'City',
       'Region', 'Segment', 'Ship Mode', 'Category', 'Sub-Category',
       'Product Name', ' Discount ', ' Sales ', ' Profit ', 'Quantity',
       'Feedback?'],
      dtype='object')

In [63]:
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8047 non-null   object
 1   Order Date     8047 non-null   object
 2   Customer Name  8047 non-null   object
 3   Country        8047 non-null   object
 4   State          8047 non-null   object
 5   City           8047 non-null   object
 6   Region         8047 non-null   object
 7   Segment        8047 non-null   object
 8   Ship Mode      8047 non-null   object
 9   Category       8047 non-null   object
 10  Sub-Category   8047 non-null   object
 11  Product Name   8047 non-null   object
 12   Discount      8047 non-null   object
 13   Sales         8047 non-null   object
 14   Profit        8047 non-null   object
 15  Quantity       8047 non-null   int64
 16  Feedback?      8047 non-null   bool
dtypes: bool(1), int64(1), object(15)
memory usage: 1013.9+ KB

In [ ]:
# modification du type de données des colonnes order date, discount, sales, profit lors du chargement des données dans power bi

In [64]:
retail_data.isnull().sum()

Order ID         0
Order Date       0
Customer Name    0
Country          0
State            0
City             0
Region           0
Segment          0
Ship Mode        0
Category         0
Sub-Category     0
Product Name     0
 Discount        0
 Sales           0
 Profit          0
Quantity         0
Feedback?        0
dtype: int64

In [66]:
# descriptions des colonnes
column_descriptions = {
    "Order ID": "Identifiant unique de la commande",
    "Order Date": "Date de la commande",
    "Customer Name": "Nom du client",
    "Country": "Pays du client",
    "State": "Département du client",
    "City": "Ville du client",
    "Region": "Région du client",
    "Segment": "Segment de cient auquel appartient le client",
    "Ship Mode": "Mode livraison de la commande",
    "Category": "Catégorie du produit commandé",
    "Sub-Category": "Sous-catégorie du produit commandé",
    "Product Name": "Nom du produit commandé",
    "Discount": "Réduction appliquée à la commande",
    "Sales": "Chiffre d'affaire",
    "Profit": "Marge réalisée",
    "Quantity": "Quantité commandée",
    "Feedback?": "Avis du client reçu"
}

def summarize_table_columns(dataframe, column_descriptions=None): # Générer un résumé des colonnes d'une table en prenant en parmètres la table à résumer, et la description des colonnes
    # retourne un résummé des colonnes avec leur descriptif (données brutes reçues)
    summary = []
    
    for col in dataframe.columns:
        summary.append({
            "Colonne": col,
            "Description": column_descriptions.get(col, "Non spécifié") if column_descriptions else "Non spécifié",
            "Type des données": dataframe[col].dtype,
            "Valeurs manquantes (%)": (dataframe[col].isnull().sum() / len(dataframe)) * 100,
            "Doublons": dataframe[col].duplicated().sum()
        })
    
    return pd.DataFrame(summary)

resultat = summarize_table_columns(retail_data, column_descriptions)
resultat

,Colonne,Description,Type des données,Valeurs manquantes (%),Doublons
0,Order ID,Identifiant unique de la commande,object,0.0,3930
1,Order Date,Date de la commande,object,0.0,6833
2,Customer Name,Nom du client,object,0.0,7255
3,Country,Pays du client,object,0.0,8032
4,State,Département du client,object,0.0,7920
5,City,Ville du client,object,0.0,7048
6,Region,Région du client,object,0.0,8044
7,Segment,Segment de cient auquel appartient le client,object,0.0,8044
8,Ship Mode,Mode livraison de la commande,object,0.0,8043
9,Category,Catégorie du produit commandé,object,0.0,8044
10,Sub-Category,Sous-catégorie du produit commandé,object,0.0,8030
11,Product Name,Nom du produit commandé,object,0.0,6237
12,Discount,Non spécifié,object,0.0,8037
13,Sales,Non spécifié,object,0.0,6799
14,Profit,Non spécifié,object,0.0,7202
15,Quantity,Quantité commandée,int64,0.0,8033
16,Feedback?,Avis du client reçu,bool,0.0,8045